## Test Report

## Transcript 1 : testing overall loop with correct inputs
Welcome to our awesome amazing spectacular game! It'll be the best game you've ever played :P

Dearest Player, please enter your name:

Beth

Hello Beth

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Freddy's Pizzeria

You have chosen...
Bonny


You appear at an abandoned Pizzeria, that eerily feels familiar. As you pass through the rickety doors you sense
that you are not alone. There's a stage, with one purple character, that seems to be where the old mascots would perform.
It's eyes light up as it stares at you. You approaDearest Player, please enter your name:
awgerawp
Hello awgerawp
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Italy
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Hell no
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Yea right
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Riddle Game


Woo, that was such a good game, right? Anyways another date?
Do you wish to keep going on dates? 
 Enter Y for yes and N for no.
awifygyfp
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Chucky cheese
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
Do you wish to keep going on dates? 
 Enter Y for yes and N for no.
N
Now its time to make the final decision. Who has your heart? 
 Is it Zeus? Shruck? Bonny? Satan? Scarlet Jojoson? Or perhaps, it's no one?
 Enter the name of a character or press enter if none

You have chosen...
No one
Phew, glad this is the case. Who even needs people? Am I right?


Thanks for playing! :Dch it without knowing why. Then it starts to walk towards you.
As it holds out it's hands it says 'Pizza?' in a slow robotic voice. You look at the hands and there is no pizza :(.
Afraid of what will happen if you refuse, you take the fake pizza and pretend to eat it. After seeing you play along
the purple animatronic looks and you and slowly says 'Bonny'.


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Swamp

You have chosen...
Shruck


You see a farty swamp the size of small house, right in front of a run-down tree house. You see the door slam open
and out walks a bumbling green figure. 'YOU!' he says as he points his stubby finger in your direction. He proceeds
to stomp towards you. 'WHAT ARE YOU DOING IN MY BLOODY SWAMP!' he bellows, as pieces of his stinky dinner fly out his
mouth and onto your face. 'DON'T TELL ME YOU WANT TO FART IN IT. BECAUSE LET ME TELL YOU. THE ONLY ONE WHO CAN FART IN
MY BLOODY SWAMP IS MY BLOODY ARSE!'


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Japan

You have chosen...
Scarlet Jojoson


You arrive in cosmopolitan Tokyo in the middle of the night. The neon lights surround you as you take a look around the alley. All of a sudden, someone
grapples you and tosses you to the ground. 'Who sent you?' the voice yells at you. You have no idea what's going on and just try to get out of their
hold. Much to your dismay you cannot escape. Luckily a car passes and lights up your face long enough for the black leather suit wearing assailant to realize you aren't a threat.
The red headed beauty releases you quickly and takes a step back. She apologizes as you dust yourself off. 'さようなら' she whispers as she leaps upwards
and disappears in the Tokyo skyline.


Now its time for a mini-game! Yay!
Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

Do you wish to keep going on dates?

Enter Y for yes and N for no.
Dearest Player, please enter your name:
awgerawp
Hello awgerawp
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Italy
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Hell no
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Yea right
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Riddle Game


Woo, that was such a good game, right? Anyways another date?
Do you wish to keep going on dates? 
 Enter Y for yes and N for no.
awifygyfp
The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]
Chucky cheese
You have chosen... 


Now its time for a mini-game! Yay!
 Your score on these minigames will affect the amount of affection a character feels towards you so try your best! 
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame: 
Kissing Game


Woo, that was such a good game, right? Anyways another date?
Do you wish to keep going on dates? 
 Enter Y for yes and N for no.
N
Now its time to make the final decision. Who has your heart? 
 Is it Zeus? Shruck? Bonny? Satan? Scarlet Jojoson? Or perhaps, it's no one?
 Enter the name of a character or press enter if none

You have chosen...
No one
Phew, glad this is the case. Who even needs people? Am I right?


Thanks for playing! :D
Y

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Hell

You have chosen...
Satan


Immediately you feel the immense heat radiating all around you. There's no doubt you are in Hell. Satan stands before you in all her
sultry glory. She seductively catwalks over to you. 'Greetings, or should I say Hell-o.' She bats her eyes and tucks her hair behind her
ear proudly. She then says 'Pretty hot in here, right?' as she hold up a finger heart with flames coming out of it and then she can't help but
wink at you. 'Or maybe its just you' she says while pointing at you. You can only help but think Hell yea.


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Trivia Game


Woo, that was such a good game, right? Anyways another date?

Do you wish to keep going on dates?

Enter Y for yes and N for no.

Y

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Olympus

You have chosen...
Zeus


You see a swan. Not just any swan though. It's Zeus! He notices you walk up to the gates and greets you
'Why hello there. You look... rather ravishing.' He whistles as he looks you up and down. (He likes
what he sees.) 'Oh, please excuse my disheveled form!' He waddles in a circle at lightning speed
and poof. He's actually kind of ripped. (as a human) 'I hope you like what YOU see.' He gives a smug
look


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Riddle Game


Woo, that was such a good game, right? Anyways another date?

Do you wish to keep going on dates?

Enter Y for yes and N for no.

N

Now its time to make the final decision. Who has your heart?

Is it Zeus? Shruck? Bonny? Satan? Scarlet Jojoson? Or perhaps, it's no one?

Enter the name of a character or press enter if none

Scarlet Jojoson

You have chosen...
Scarlet Jojoson

They don't like you... Damn, that sucks. Better luck next time ;)


Thanks for playing! :D

---------
## Transcript 2: tested with varying inputs that don't match official spelling and last choice being empty
Dearest Player, please enter your name:

awgerawp

Hello awgerawp

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Italy

You have chosen...


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Hell no

You have chosen...


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Yea right

You have chosen...


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Riddle Game


Woo, that was such a good game, right? Anyways another date?

Do you wish to keep going on dates?

Enter Y for yes and N for no.

awifygyfp

The following is a map of locations, where you will meet your potential partners. Please enter the name of the location you want.

Map: [Olympus, Swamp, Freddy's Pizzeria, Hell, Japan]

Chucky cheese

You have chosen...


Now its time for a mini-game! Yay!

Your score on these minigames will affect the amount of affection a character feels towards you so try your best!
(Sidenote: we haven't implemented this yet but it'll be awesome :D)

Minigame:
Kissing Game


Woo, that was such a good game, right? Anyways another date?

Do you wish to keep going on dates?

Enter Y for yes and N for no.

N

Now its time to make the final decision. Who has your heart?

Is it Zeus? Shruck? Bonny? Satan? Scarlet Jojoson? Or perhaps, it's no one?

Enter the name of a character or press enter if none

You have chosen...

No one

Phew, glad this is the case. Who even needs people? Am I right?


Thanks for playing! :D
